In [1]:
# サンプルデータとして，Eng-Fraのペアデータをダウンロードし，訓練用，開発用，検証用に分ける

In [2]:
!curl -O https://raw.githubusercontent.com/L1aoXingyu/seq2seq-translation/refs/heads/master/data/eng-fra.txt

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 9317k  100 9317k    0     0  9839k      0 --:--:-- --:--:-- --:--:-- 9828k

In [3]:
import pandas as pd

df=pd.read_csv('eng-fra.txt', header=None, names=['eng','fra'], sep='\t')

df.head()

     eng         fra
0    Go.        Va !
1   Run!     Cours !
2   Run!    Courez !
3   Wow!  Ça alors !
4  Fire!    Au feu !

In [4]:
sdf = df.sample(frac=1, random_state=0)
sdf.head()

,eng,fra
56776,We can't hang around here.,Nous n'avons pas le droit de traîner par ici.
100385,"Sorry, I didn't mean to snap at you.","Désolée, je ne voulais pas te mordre."
26424,Will you go with us?,Est-ce que vous viendrez avec nous ?
102526,I understand your position perfectly.,Je comprends parfaitement ta position.
45488,This is not about money.,Il ne s'agit pas d'argent.

In [5]:
siz=len(sdf)//10


val=sdf[:siz]
test=sdf[siz:siz*2]
train=sdf[siz*2:]

train.head()

,eng,fra
52919,"He tried hard, but failed.",Il a essayé fort mais il a échoué.
78080,Aren't you sick of eating here?,N'en avez-vous pas assez de manger ici ?
116038,He slowly let the clutch out and drove off.,Il relâcha doucement l'embrayage puis partit.
22275,You're all invited.,Vous êtes tous invités.
47090,Did you hear what I said?,As-tu entendu ce que j'ai dit ?

In [6]:
import json

def to_jsonl(df,fname):
    jdata=[]
    for i in range(len(df)):
        eng=df.iloc[i]['eng']
        fra=df.iloc[i]['fra']
        jdata.append({'translation':{'eng':eng, 'fra':fra}})

    with open(fname,'w',encoding='utf-8') as f:
        for l in jdata:
            f.write(json.dumps(l,ensure_ascii=False)+'\n')

In [7]:
to_jsonl(train,'train.jsonl')
to_jsonl(val,'val.jsonl')
to_jsonl(test,'test.jsonl')